*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

button {
  color: inherit;
  cursor: pointer;
}

button, [role="button"] {
  cursor: pointer;
}

code {
  font-family: "Azeret Mono", monospace;
  font-size: 1em;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: "Azeret Mono", monospace;
}

.transition-colors {
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
              border-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
              color 500ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 500ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-6 {
  margin: 1.5rem 0;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.mx-2 {
  margin: 0 0.5rem;
}

.my-4 {
  margin: 1rem 0;
}

.mx-auto {
  margin: 0 auto;
}

.px-4 {
  padding: 0 1rem;
}

.py-8 {
  padding: 2rem 0;
}

.bg-[#86efac] {
  background-color: #86efac;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.py-6 {
  padding: 1.5rem 0;
}

.px-2 {
  padding: 0 0.5rem;
}

.py-1 {
  padding: 0.25rem 0;
}

.border-gray-500 {
  border-color: #6b7280;
}

.bg-white {
  background-color: #fff;
}

.flex {
  display: flex;
}

.gap-8 {
  gap: 2rem;
}

.font-bold {
  font-weight: 700;
}

.max-w-screen-md {
  max-width: 1024px;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.border-2 {
  border-width: 2px;
}

.rounded {
  border-radius: 0.25rem;
}

.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.bread-crumb {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.bread-crumb a {
  text-decoration: none;
}

.bread-crumb a:hover {
  text-decoration: underline;
}

.bread-crumb ul {
  list-style-type: none;
  padding-left: 0;
}

.small-card {
  padding: 0.25rem;
  border: 1px solid var(--pico-primary);
  border-radius: 1rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
}

.small-card:hover {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  background-color: rgba(254, 182, 112, 0.2);
  transform: scale(1.1);
}

.see-more-card {
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

@media (max-width: 1024px) {
  .see-more-card {
    grid-column: span 2;
    width: auto;
  }
}

[data-theme="dark"] .see-more-card {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/images/see-more.webp");
  color: var(--pico-primary);
}

[data-theme="dark"] .see-more-card:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

[data-theme="light"] .see-more-card {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("/images/see-more.webp");
  color: white;
}

[data-theme="light"] .see-more-card:hover {
  background-color: rgba(254, 182, 112, 0.5);
  transform: scale(1.1);
}

.device-detail {
  background-color: var(--pico-card-background-color);
  border: 1px solid var(--pico-secondary);
  border-radius: var(--pico-border-radius);
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header performance"
    "specs specs"
    "similar similar";
  grid-template-columns: 1fr 3fr;
}

@media (max-width: 768px) {
  .device-detail {
    grid-template-areas:
      "header"
      "performance"
      "specs"
      "similar";
    grid-template-columns: 1fr;
  }
}

.device-detail-performance {
  padding: 1rem;
  grid-area: performance;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.device-detail-header {
  grid-area: header;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: var(--pico-border-radius);
}

.device-detail-similar-devices {
  grid-area: similar;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 500px) {
  .specs-grid {
    grid-template-columns: 1fr;
  }
}

.specs-section {
  padding: 1rem;
  border: 1px solid var(--pico-secondary);
  background: var(--pico-card-background-color);
  border-radius: var(--pico-border-radius);
}

.specs-section h3 {
  justify-content: center;
  font-size: 1.25rem;
  color: var(--pico-contrast);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0;
  color: var(--pico-primary);
}

.specs-section dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
  margin: 0;
  text-align: center;
}

.specs-section dt {
  font-weight: bold;
  color: var(--pico-primary-dim);
}

.specs-section dd {
  margin: 0;
}

.mobile-nav-button {
  border: 1px solid var(--pico-primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 10rem;
  text-align: center;
}

.active {
  color: var(--pico-primary);
  font-weight: bold;
  text-decoration: underline !important;
}

.device-row-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1024px) {
  .device-row-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .device-row-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.mobile-nav {
  display: none;
}

.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.burger-menu {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--pico-primary);
}

.mobile-nav-content {
  display: none;
  background-color: var(--pico-background-color);
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  z-index: 1000;
}

.mobile-nav-content.show {
  display: block;
}

.mobile-nav-content ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav-content li {
  list-style: none;
}

.desktop-nav {
  display: block;
}

@media (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}

.footer-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

@media (max-width: 500px) {
  .footer-grid {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-grid-item {
    text-align: center;
  }
}

.footer-grid-item {
  min-width: 10rem;
}

.footer-grid-item.rr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.device-search-grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  justify-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 1024px) {
  .device-search-grid {
    gap: 0.25rem;
  }
}

@media (max-width: 500px) {
  .device-search-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
  }
}

.device-search-card {
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.device-search-card hgroup {
  margin: 0;
}

@media (max-width: 500px) {
  .device-search-card {
    max-width: 200px;
  }
}

@media (max-width: 375px) {
  .device-search-card {
    max-width: 175px;
  }
}

@media (max-width: 320px) {
  .device-search-card {
    max-width: 150px;
  }
}

.device-search-card:hover {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  background-color: rgba(254, 182, 112, 0.2);
  transform: scale(1.1);
}

code,
pre,
kbd,
a,
input,
textarea,
select,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6,
::placeholder {
  font-family: "Azeret Mono", monospace !important;
}

.device-search-form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.similar-devices-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

@media (max-width: 1024px) {
  .similar-devices-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .similar-devices-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  .similar-devices-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.25rem;
  }
}

.summary-details {
  @media (max-width: 500px) {
    max-width: 360px;
  }

  @media (max-width: 375px) {
    max-width: 310px;
  }

  @media (max-width: 320px) {
    max-width: 250px;
  }
}

.divider {
  border-top: 1px solid var(--pico-muted-border-color);
}


.tag {
  background-color: var(--pico-contrast);
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: var(--pico-border-radius);
  margin-right: 0.25rem;
  display: inline-block;
}

.emulation-performance {
  @media (max-width: 500px) {
    max-width: 360px;
  }

  @media (max-width: 375px) {
    max-width: 310px;
  }

  @media (max-width: 320px) {
    max-width: 250px;
  }
}

.pagination-link {
  color: var(--pico-contrast) !important;
  text-decoration: none !important;
}

.pagination-link:hover {
  text-decoration: underline !important;
  color: var(--pico-primary) !important;
}
