*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

button {
  color: inherit;
  cursor: pointer;
}

button,
[role="button"] {
  cursor: pointer;
}

code {
  font-family: "Azeret Mono", monospace;
  font-size: 1em;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  font-family: "Azeret Mono", monospace;
}

.transition-colors {
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-6 {
  margin: 1.5rem 0;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.mx-2 {
  margin: 0 0.5rem;
}

.my-4 {
  margin: 1rem 0;
}

.mx-auto {
  margin: 0 auto;
}

.px-4 {
  padding: 0 1rem;
}

.py-8 {
  padding: 2rem 0;
}

.bg-deno-green {
  background-color: #86efac;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.py-6 {
  padding: 1.5rem 0;
}

.px-2 {
  padding: 0 0.5rem;
}

.py-1 {
  padding: 0.25rem 0;
}

.border-gray-500 {
  border-color: #6b7280;
}

.bg-white {
  background-color: #fff;
}

.flex {
  display: flex;
}

.gap-8 {
  gap: 2rem;
}

.font-bold {
  font-weight: 700;
}

.max-w-screen-md {
  max-width: 1024px;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.border-2 {
  border-width: 2px;
}

.rounded {
  border-radius: 0.25rem;
}

.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.bread-crumb {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.bread-crumb a {
  text-decoration: none;
}

.bread-crumb a:hover {
  text-decoration: underline;
}

.bread-crumb ul {
  list-style-type: none;
  padding-left: 0;
}

.small-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (width <= 425px) {
    /* grow last card horizontally to fill 2 spans */
    grid-template-columns: repeat(2, 1fr);
  }
}

.small-card {
  padding: 1rem;
  border: 1px solid var(--pico-primary);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);

  @media (max-width: 500px) {
    min-width: 10em;
  }
}

.small-card:hover {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  background-color: rgba(254, 182, 112, 0.2);
  transform: scale(1.05);
}

.see-more-card {
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  grid-column: span 4;

  @media (max-width: 425px) {
    grid-column: span 2;
    width: auto;
  }
}

[data-theme="dark"] .see-more-card {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/images/see-more.webp");
  color: var(--pico-primary);
}

[data-theme="dark"] .see-more-card:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

[data-theme="light"] .see-more-card {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("/images/see-more.webp");
  color: white;
}

[data-theme="light"] .see-more-card:hover {
  background-color: rgba(254, 182, 112, 0.5);
  transform: scale(1.05);
}

.device-detail {
  background-color: var(--pico-card-background-color);
  border: 1px solid var(--pico-secondary);
  border-radius: var(--pico-border-radius);
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header performance"
    "specs specs"
    "similar similar";
  grid-template-columns: 1fr 3fr;

  container-type: inline-size;
}

@media (max-width: 768px) {
  .device-detail {
    grid-template-areas:
      "header"
      "performance"
      "specs"
      "similar";
    grid-template-columns: 1fr;
  }
}

.device-detail-performance {
  width: 75cqw;
  grid-area: performance;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;

  @media (max-width: 768px) {
    width: 100cqw;
  }
}

.device-detail-specs {
  max-width: 100cqw;
  grid-area: specs;

  summary,
  section {
    margin: 1rem;
  }
}

.device-detail-header {
  width: 25cqw;
  height: fit-content;
  grid-area: header;
  padding: 1rem 0 0 0;
  /* background-color: rgba(254, 182, 112, 0.2); */
  border-radius: var(--pico-border-radius);
  border-top-right-radius: 0;

  @media (max-width: 768px) {
    width: 100cqw;
  }

  @media (min-width: 768px) {
    border-bottom: 1px solid var(--pico-color);
    border-right: 1px solid var(--pico-color);
  }
}

.device-detail-similar-devices {
  width: 100cqw;
  grid-area: similar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.specs-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 500px) {
  .specs-grid {
    grid-template-columns: 1fr;
  }
}

.specs-section {
  padding: 1rem;
  border: 1px solid var(--pico-secondary);
  background: var(--pico-card-background-color);
  border-radius: var(--pico-border-radius);
}

.specs-section h3 {
  justify-content: center;
  font-size: 1.25rem;
  color: var(--pico-contrast);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0;
  color: var(--pico-primary);
}

.specs-section dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
  margin: 0;
  text-align: center;
}

.specs-section dt {
  font-weight: bold;
  color: var(--pico-primary-dim);
}

.specs-section dd {
  margin: 0;
}

.mobile-nav-button {
  border: 1px solid var(--pico-primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 70vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.device-row-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);

  /* @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  } */

  @media (max-width: 425px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

@media (max-width: 500px) {
  .footer-grid {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-grid-item {
    text-align: center;
  }
}

.footer-grid-item {
  min-width: 10rem;
}

.footer-grid-item.rr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.device-search-grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  justify-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 1024px) {
  .device-search-grid {
    gap: 0.25rem;
  }
}

@media (max-width: 500px) {
  .device-search-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
  }
}

.device-search-card {
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.device-search-card.active {
  background-color: rgba(254, 182, 112, 0.2);
  border-radius: var(--pico-border-radius);

  header {
    background-color: rgba(254, 182, 112, 0.2);
  }
}

.device-search-card hgroup {
  margin: 0;
}

@media (max-width: 500px) {
  .device-search-card {
    max-width: 200px;
  }
}

@media (max-width: 375px) {
  .device-search-card {
    max-width: 175px;
  }
}

@media (max-width: 320px) {
  .device-search-card {
    max-width: 150px;
  }
}

.device-search-card:hover {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  background-color: rgba(254, 182, 112, 0.2);
  transform: scale(1.05);

  header {
    background-color: rgba(254, 182, 112, 0.2);
  }
}

code,
pre,
kbd,
a,
input,
textarea,
select,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6,
::placeholder {
  font-family: "Azeret Mono", monospace !important;
}

.device-search-form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.similar-devices-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

@media (max-width: 1024px) {
  .similar-devices-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .similar-devices-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  .similar-devices-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.25rem;
  }
}

.divider {
  border-top: 1px solid var(--pico-muted-border-color);
}

.tag {
  background-color: var(--pico-contrast);
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: var(--pico-border-radius);
  margin-right: 0.25rem;
  display: inline-block;
}

.emulation-performance {
  margin: 1rem;

  @media (max-width: 500px) {
    max-width: 360px;
  }

  @media (max-width: 375px) {
    max-width: 310px;
  }

  @media (max-width: 320px) {
    max-width: 250px;
  }
}

.pagination-link {
  color: var(--pico-contrast) !important;
  text-decoration: none !important;
}

.pagination-link:hover {
  color: var(--pico-primary) !important;
}

.mobile-nav-button:hover {
  color: var(--pico-primary) !important;
  text-decoration: none !important;
}

.connect-links {
  a {
    text-decoration: none;
  }
}
.quick-links {
  a {
    text-decoration: none;
  }
}

.home-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  @media (max-width: 425px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.compare-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.compare-result {
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "header summary summary"
    "performance performance performance"
    "screen screen screen"
    "ergonomics ergonomics ergonomics"
    "connectivity connectivity connectivity"
    "controls controls controls"
    "misc misc misc";
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 768px) {
    grid-template-areas:
      "header header header"
      "summary summary summary"
      "performance performance performance"
      "screen screen screen"
      "ergonomics ergonomics ergonomics"
      "connectivity connectivity connectivity"
      "controls controls controls"
      "misc misc misc";
  }
}

.compare-result-header,
.compare-result-summary,
.compare-result-performance {
  height: 20em; /* Set a fixed height for each grid area */
}

.compare-result-screen,
.compare-result-ergonomics,
.compare-result-connectivity,
.compare-result-controls,
.compare-result-misc {
  height: 30em;
}

.compare-result-header {
  grid-area: header;
  padding: 0.5rem;
  height: 22em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--pico-card-background-color);
  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);
}

.compare-result-summary {
  grid-area: summary;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  height: 22em;
  /*   
  @media (max-width: 768px) {
    height: 18em;
  } */

  @media (max-width: 425px) {
    font-size: 0.75rem;
    height: 24em;
  }
}

.compare-result-performance {
  grid-area: performance;
  padding: 0.5rem;
  height: 10em;

  h3 {
    font-size: 1rem;
  }

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  @media (max-width: 1024px) {
    height: 12em;
  }

  @media (max-width: 1023px) and (min-width: 768px) {
    height: 14em;
  }

  @media (max-width: 767px) and (min-width: 425px) {
    height: 19em;
  }

  @media (max-width: 424px) and (min-width: 375px) {
    height: 25em;
  }

  @media (max-width: 374px) {
    height: 31em;
  }

  .compare-result-performance-chips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
}

.compare-result-screen {
  grid-area: screen;
  padding: 0.5rem;
  overflow-y: auto;
  height: 18em;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  @media (max-width: 1024px) {
    height: 18em;
  }

  @media (max-width: 425px) {
    font-size: 0.75rem;
    height: 30em;
  }
}

.compare-result-ergonomics {
  grid-area: ergonomics;
  padding: 0.5rem;

  height: 15em;

  overflow-y: auto;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  @media (max-width: 1024px) {
    height: 16em;
  }

  @media (max-width: 768px) {
    height: 18em;
  }

  @media (max-width: 425px) {
    font-size: 0.75rem;
    height: 24em;
  }
}

.compare-result-connectivity {
  grid-area: connectivity;
  padding: 0.5rem;
  height: 25em;

  overflow-y: auto;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  @media (max-width: 1024px) {
    height: 26em;
  }

  @media (max-width: 425px) {
    font-size: 0.75rem;
    height: 34em;
  }
}

.compare-result-controls {
  grid-area: controls;
  padding: 0.5rem;
  height: 24em;

  overflow-y: auto;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  @media (max-width: 1024px) {
    height: 24em;
  }

  @media (max-width: 768px) {
    height: 26em;
  }

  @media (max-width: 425px) {
    font-size: 0.75rem;
    height: 29em;
  }
}

.compare-result-misc {
  grid-area: misc;
  padding: 0.5rem;
  height: 42em;

  overflow-y: auto;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  @media (max-width: 1024px) {
    height: 40em;
  }

  @media (max-width: 768px) {
    height: 45em;
  }

  @media (max-width: 425px) {
    font-size: 0.75rem;
    height: 52em;
  }
}

.suggestions-list {
  z-index: 1000;
  width: 100cqw;
  padding: 1em;
  max-height: 80vh;

  border: 3px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);
  overflow-y: auto;

  position: absolute;
  background-color: var(--pico-card-background-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 400px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.suggestions-list-item {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
  list-style: none;
  background-color: var(--pico-card-background-color);
  width: fit-content;
}

.compare-form-inputs {
  display: flex;
  gap: 1rem;

  @media (max-width: 500px) {
    text-align: center;
    flex-direction: column;
    gap: 0.25rem;
  }
}

.similar-devices-compare-grid {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1;
  gap: 0.5rem;

  overflow-x: auto;
  overflow-y: hidden;

  .device-search-card {
    min-width: 15em;
  }
}

.better {
  &[data-tooltip] {
    border-bottom: 1px solid #16833e;
  }

  border: 1px solid #16833e;
  background-color: #16833e20;
  h3 {
    color: #16833e;
  }

  td,
  th {
    background-color: #16833e20;
  }

  .icon {
    color: #16833e;
  }
}

.worse {
  &[data-tooltip] {
    border-bottom: 1px solid #ab0d0d;
  }

  border: 1px solid #ab0d0d;
  background-color: #ab0d0d20;
  h3 {
    color: #ab0d0d;
  }

  td,
  th {
    background-color: #ab0d0d20;
  }
}

.equal {
  &[data-tooltip] {
    border-bottom: 1px solid #3952a2;
  }

  border: 1px solid #3952a2;
  background-color: #3952a220;
  h3 {
    color: #3952a2;
  }

  td,
  th {
    background-color: #3952a220;
  }
}

.device-detail-actions {
  @media (max-width: 768px) {
    border-bottom: 1px solid var(--pico-color);
  }
}

.video-reviews {
  max-height: 10em;
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem;
}

.rating-info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 0.5rem;
}

.rating-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 0.25rem;
  border-radius: 0.5em;
  font-size: 0.75rem;
}

/* Desktop Nav */
.desktop-nav-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;

  border-bottom: 1px solid var(--pico-primary);
}

.logo-nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  .nav-item-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--pico-contrast);
  }
}

.nav-a {
  text-decoration: none;
  color: var(--pico-contrast);
}

.active {
  background-color: var(--pico-primary-focus);
  border: 1px solid var(--pico-primary);
}

.nav-search-item {
  margin-left: auto;
  margin-right: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-theme-item {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Mobile Nav */

.mobile-nav {
  width: 100vw;
  display: flex;
}

.mobile-nav-header {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.burger-menu {
  margin-left: 1rem;

  min-width: 2.5rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--pico-primary);
  border: 1px solid var(--pico-primary);
  border-radius: 0.5rem;
}

.mobile-nav-content {
  display: none;
}

.mobile-nav-content.show {
  display: block;
  background-color: var(--pico-background-color);
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  z-index: 1100;
}

.mobile-nav-content ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav-content li {
  list-style: none;
}

.mobile-nav-search-item {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile-nav-theme-switcher {
  margin: 0 1rem;
}

.mobile-active {
  background-color: var(--pico-primary-focus);
  color: var(--pico-contrast);
  font-weight: bold;
}
