*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

button {
  color: inherit;
  cursor: pointer;
}

button,
[role="button"] {
  cursor: pointer;
}

code {
  font-family: "Azeret Mono", monospace;
  font-size: 1em;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  font-family: "Azeret Mono", monospace;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.paused-animation::before {
  animation-play-state: paused !important;
}

/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("/images/patternbg.svg") repeat,
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: auto 1000px, cover;
  z-index: -1;
  animation: scrollBackground 30s linear infinite;
} */

/* [data-theme="light"] body::before {
  background: url("/images/patternbgw.svg") repeat;
  background-size: auto 1000px, cover;
} */

/* @keyframes scrollBackground {
  from {
    background-position: center 0, top;
  }
  to {
    background-position: center 1000px, top;
  }
} */

.transition-colors {
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-6 {
  margin: 1.5rem 0;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.mx-2 {
  margin: 0 0.5rem;
}

.my-4 {
  margin: 1rem 0;
}

.mx-auto {
  margin: 0 auto;
}

.px-4 {
  padding: 0 1rem;
}

.py-8 {
  padding: 2rem 0;
}

.bg-deno-green {
  background-color: #86efac;
}

.bg-rr-primary {
  background-color: var(--pico-primary-background);
  color: var(--pico-primary-contrast);
  border: 1px solid var(--pico-primary-contrast);
  border-radius: var(--pico-border-radius);
  padding: 1rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.py-6 {
  padding: 1.5rem 0;
}

.px-2 {
  padding: 0 0.5rem;
}

.py-1 {
  padding: 0.25rem 0;
}

.border-gray-500 {
  border-color: #6b7280;
}

.bg-white {
  background-color: #fff;
}

.flex {
  display: flex;
}

.gap-8 {
  gap: 2rem;
}

.font-bold {
  font-weight: 700;
}

.max-w-screen-md {
  max-width: 1024px;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.border-2 {
  border-width: 2px;
}

.rounded {
  border-radius: 0.25rem;
}

.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.bread-crumb {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.bread-crumb a {
  text-decoration: none;
}

.bread-crumb a:hover {
  text-decoration: underline;
}

.bread-crumb ul {
  list-style-type: none;
  padding-left: 0;
}

.small-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (width <= 425px) {
    /* grow last card horizontally to fill 2 spans */
    grid-template-columns: repeat(2, 1fr);
  }
}

.small-card {
  padding: 1rem;
  border: 1px solid var(--pico-primary);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);

  @media (max-width: 500px) {
    min-width: 10em;
  }
}

.small-card:hover {
  cursor: pointer;
  background-color: rgba(254, 182, 112, 0.2);
  transform: scale(1.05);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.see-more-card {
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  grid-column: span 4;

  @media (max-width: 425px) {
    grid-column: span 2;
    width: auto;
  }
}

[data-theme="dark"] .see-more-card {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/images/see-more.webp");
  background-size: cover;
  background-position: center;
  color: var(--pico-primary);
}

[data-theme="dark"] .see-more-card:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

[data-theme="light"] .see-more-card {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("/images/see-more.webp");
  color: white;
}

[data-theme="light"] .see-more-card:hover {
  background-color: rgba(254, 182, 112, 0.5);
  transform: scale(1.05);
}

.device-detail {
  background-color: var(--pico-background-color);
  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "header performance"
    "links links"
    "similar similar"
    "specs specs";
  grid-template-columns: 1fr 3fr;

  container-type: inline-size;
}

@media (max-width: 768px) {
  .device-detail {
    grid-template-areas:
      "header"
      "performance"
      "links"
      "similar"
      "specs";
    grid-template-columns: 1fr;
  }
}

.device-detail-performance {
  grid-area: performance;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 100cqw;
  }
}

.device-detail-header {
  height: fit-content;
  grid-area: header;
  border-radius: var(--pico-border-radius);
  border-top-right-radius: 0;

  background-color: var(--pico-background-color);
  /* border-bottom: 1px solid var(--pico-color); */
  border-right: 1px solid var(--pico-primary);

  @media (max-width: 768px) {
    width: 100cqw;
  }

  .device-detail-actions {
    border-top: 1px solid var(--pico-primary);
    border-bottom: 1px solid var(--pico-primary);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    @media (max-width: 768px) {
      flex-direction: row;
    }

    .device-detail-action-button {
      display: flex;
      justify-content: center;
      cursor: pointer;
      border-bottom: none;

      &:hover {
        /* border-bottom: 1px solid var(--pico-primary); */
        color: var(--pico-primary);
      }
    }

    .device-detail-action-button-label {
      @media (max-width: 768px) {
        /* display: none; */
      }
    }
  }
}

.device-detail-links {
  width: 100cqw;
  grid-area: links;
  padding-left: 1rem;
  padding-right: 1rem;
}

.device-detail-specs {
  max-width: 100cqw;
  grid-area: specs;

  summary,
  section {
    margin: 1rem;
  }
}

.device-detail-similar-devices {
  width: 100cqw;
  grid-area: similar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.specs-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 500px) {
  .specs-grid {
    grid-template-columns: 1fr;
  }
}

.specs-section {
  padding: 1rem;
  border: 1px solid var(--pico-secondary);
  background: var(--pico-card-background-color);
  border-radius: var(--pico-border-radius);
}

.specs-section h3 {
  justify-content: center;
  font-size: 1.25rem;
  color: var(--pico-contrast);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0;
  color: var(--pico-primary);
}

.specs-section dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
  margin: 0;
  text-align: center;
}

.specs-section dt {
  font-weight: bold;
  color: var(--pico-primary-dim);
}

.specs-section dd {
  margin: 0;
}

.mobile-nav-button {
  border: 1px solid var(--pico-primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 70vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.device-row-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);

  /* @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  } */

  @media (max-width: 425px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

@media (max-width: 500px) {
  .footer-grid {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-grid-item {
    text-align: center;
  }
}

.footer-grid-item {
  min-width: 10rem;
}

.footer-grid-item.rr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.device-search-grid-9 {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  justify-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 1024px) {
  .device-search-grid-9 {
    gap: 0.25rem;
  }
}

@media (max-width: 500px) {
  .device-search-grid-9 {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
  }
}

.device-search-grid-4 {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  justify-items: center;
  margin: 0 auto;
  max-width: 1200px;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .device-search-card {
    max-width: 100%;
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);

    .device-search-card {
      max-width: 90%;
    }
  }
}

.device-search-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .device-search-card {
    max-width: 100%;
  }
}

.device-search-card {
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--pico-card-background-color);
}

.device-search-card.active {
  background-color: rgba(254, 182, 112, 0.2);
  border-radius: var(--pico-border-radius);

  header {
    background-color: rgba(254, 182, 112, 0.2);
  }
}

.device-search-card hgroup {
  margin: 0;
}

@media (max-width: 500px) {
  .device-search-card {
    max-width: 200px;
  }
}

@media (max-width: 375px) {
  .device-search-card {
    max-width: 175px;
  }
}

@media (max-width: 320px) {
  .device-search-card {
    max-width: 150px;
  }
}

.device-search-card:hover {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  background-color: rgba(254, 182, 112, 0.2);
  transform: scale(1.05);

  header {
    background-color: rgba(254, 182, 112, 0.2);
  }
}

code,
pre,
kbd,
a,
input,
textarea,
select,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6,
::placeholder {
  font-family: "Azeret Mono", monospace !important;
}

.device-search-form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.similar-devices-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

@media (max-width: 500px) {
  .similar-devices-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  .similar-devices-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.25rem;
  }
}

.divider {
  border-top: 1px solid var(--pico-muted-border-color);
}

.emulation-performance {
  margin: 1rem;

  @media (max-width: 500px) {
    max-width: 360px;
  }

  @media (max-width: 375px) {
    max-width: 310px;
  }

  @media (max-width: 320px) {
    max-width: 250px;
  }
}

.pagination-link {
  color: var(--pico-contrast) !important;
  text-decoration: none !important;
}

.pagination-link:hover {
  color: var(--pico-primary) !important;
}

.mobile-nav-button:hover {
  color: var(--pico-primary) !important;
  text-decoration: none !important;
}

.connect-links {
  a {
    text-decoration: none;
  }
}
.quick-links {
  a {
    text-decoration: none;
  }
}

.home-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  @media (max-width: 425px) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.compare-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.compare-result {
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "header summary summary"
    "performance performance performance"
    "screen screen screen"
    "ergonomics ergonomics ergonomics"
    "connectivity connectivity connectivity"
    "audio audio audio"
    "controls controls controls"
    "misc misc misc";
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 950px) {
    grid-template-areas:
      "header header header"
      "summary summary summary"
      "performance performance performance"
      "screen screen screen"
      "ergonomics ergonomics ergonomics"
      "connectivity connectivity connectivity"
      "audio audio audio"
      "controls controls controls"
      "misc misc misc";
  }
}

.compare-result-header,
.compare-result-summary,
.compare-result-performance {
  height: 20em;

  @media (max-width: 1024px) {
    font-size: 0.75rem;
  }
}

.compare-result-screen,
.compare-result-ergonomics,
.compare-result-connectivity,
.compare-result-audio,
.compare-result-controls,
.compare-result-misc {
  height: 30em;

  @media (max-width: 1024px) {
    font-size: 0.75rem;
  }
}

.compare-result-header {
  grid-area: header;
  padding: 0.5rem;
  height: 30em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--pico-card-background-color);
  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);
}

.compare-result-summary {
  grid-area: summary;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  &.better {
    color: #16833e;
  }

  &.worse {
    color: #ab0d0d;
  }

  height: 30em;

  @media (max-width: 950px) {
    height: 25em;
  }

  @media (max-width: 425px) {
    font-size: 0.75rem;
    height: 32em;
  }
}

.compare-result-performance {
  grid-area: performance;
  padding: 0.5rem;
  height: 10em;

  h3 {
    font-size: 1rem;
  }

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  &.better {
    color: #16833e;
  }

  &.worse {
    color: #ab0d0d;
  }

  @media (max-width: 1024px) {
    height: 12em;
  }

  @media (max-width: 1023px) and (min-width: 768px) {
    height: 12em;
  }

  @media (max-width: 767px) and (min-width: 425px) {
    height: 19em;
  }

  @media (max-width: 424px) and (min-width: 375px) {
    height: 25em;
  }

  @media (max-width: 374px) {
    height: 31em;
  }

  .compare-result-performance-chips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
}

.compare-result-screen {
  grid-area: screen;
  padding: 0.5rem;
  overflow-y: auto;
  height: 25em;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  @media (max-width: 1024px) {
    height: 32em;
  }

  @media (max-width: 425px) {
    font-size: 0.75rem;
    height: 40em;
  }
}

.compare-result-ergonomics {
  grid-area: ergonomics;
  padding: 0.5rem;

  height: 18em;

  overflow-y: auto;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  @media (max-width: 1024px) {
    height: 18em;
  }

  @media (max-width: 950px) {
    height: 22em;
  }

  @media (max-width: 425px) {
    font-size: 0.75rem;
    height: 24em;
  }
}

.compare-result-connectivity {
  grid-area: connectivity;
  padding: 0.5rem;
  height: fit-content;

  overflow-y: auto;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);
}

.compare-result-audio {
  grid-area: audio;
  padding: 0.5rem;
  height: fit-content;

  overflow-y: auto;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);
}

.compare-result-controls {
  grid-area: controls;
  padding: 0.5rem;
  height: 26em;

  overflow-y: auto;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  @media (max-width: 1024px) {
    height: 38em;
  }

  @media (max-width: 768px) {
    height: 30em;
  }

  @media (max-width: 425px) {
    font-size: 0.75rem;
    height: 36em;
  }
}

.compare-result-misc {
  grid-area: misc;
  padding: 0.5rem;
  height: 24em;

  overflow-y: auto;

  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);

  @media (max-width: 1024px) {
    height: 30em;
  }

  @media (max-width: 768px) {
    height: 45em;
  }

  @media (max-width: 425px) {
    font-size: 0.75rem;
    height: 52em;
  }
}

.suggestions-list {
  z-index: 1000;
  width: 100cqw;
  padding: 1em;
  max-height: 80vh;

  border: 3px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);
  overflow-y: auto;

  position: absolute;
  background-color: var(--pico-card-background-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    max-height: 70vh;
  }

  @media (max-width: 768px) {
    max-height: 60vh;
  }

  @media (max-width: 400px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.suggestions-list-item {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
  list-style: none;
  background-color: var(--pico-card-background-color);
  width: fit-content;
}

.compare-form-inputs {
  display: flex;
  gap: 1rem;

  @media (max-width: 500px) {
    text-align: center;
    flex-direction: column;
    gap: 0.25rem;
  }
}

.similar-devices-compare-grid {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1;
  gap: 0.5rem;

  overflow-x: auto;
  overflow-y: hidden;

  .device-search-card {
    min-width: 15em;
  }
}

.better {
  background-blend-mode: multiply !important;
  &[data-tooltip] {
    border-bottom: 1px solid #16833e;
  }

  border: 1px solid #16833e;
  background-color: #16833e20;
  h3 {
    color: #16833e;
  }

  td,
  th {
    background-color: #16833e20;
  }

  .icon {
    color: #16833e;
  }
}

.worse {
  &[data-tooltip] {
    border-bottom: 1px solid #ab0d0d;
  }

  border: 1px solid #ab0d0d;
  background-color: #ab0d0d20;
  h3 {
    color: #ab0d0d;
  }

  td,
  th {
    background-color: #ab0d0d20;
  }
}

.equal {
  &[data-tooltip] {
    border-bottom: 1px solid #3952a2;
  }

  border: 1px solid #3952a2;
  background-color: #3952a230;
  h3 {
    color: #3952a2;
  }

  td,
  th {
    background-color: #3952a230;
  }
}

.video-reviews {
  height: 10em;
  overflow-x: scroll;
  overflow-y: scroll;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);

  @media (width <= 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width < 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.rating-info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 0.5rem;
}

.rating-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 0.25rem;
  border-radius: 0.5em;
  font-size: 0.75rem;
}
.desktop-nav {
  background-color: var(--pico-background-color);
  border-bottom: 1px solid var(--pico-primary);
}

/* Desktop Nav */
.desktop-nav-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.logo-nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  .nav-item-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--pico-contrast);
  }
}

.nav-a {
  text-decoration: none;
  color: var(--pico-contrast);
}

.active {
  background-color: var(--pico-primary-focus);
  border: 1px solid var(--pico-primary);
}

.nav-search-item {
  margin-left: auto;
  margin-right: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-theme-item {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Mobile Nav */

.mobile-nav {
  background-color: var(--pico-background-color);
  width: 100vw;
  display: flex;
  border-bottom: 1px solid var(--pico-primary);
}

.mobile-nav-header {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.burger-menu {
  margin-left: 1rem;

  min-width: 2.5rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--pico-primary);
  border: 1px solid var(--pico-primary);
  border-radius: 0.5rem;
}

.mobile-nav-content {
  display: none;
}

.mobile-nav-content.show {
  display: block;
  background-color: var(--pico-background-color-solid);
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  z-index: 1100;
}

.mobile-nav-content ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav-content li {
  list-style: none;
}

.mobile-nav-search-item {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile-nav-theme-switcher {
  margin: 0 1rem;
}

.mobile-active {
  background-color: var(--pico-primary-focus);
  color: var(--pico-contrast);
  font-weight: bold;
}

@media (max-width: 500px) {
  h3 span {
    display: none;
  }
}

.compare-form-examples {
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.tag {
  background: var(--pico-card-background-color) !important;
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: var(--pico-border-radius);
  margin-right: 0.25rem;
  display: inline-block;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;

  &.vertical {
    flex-direction: column;
  }
}

.tags-row {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  width: 100%;
}

.tag-link {
  text-decoration: none;
  cursor: pointer;
}

.tag {
  display: flex;
  flex-flow: row wrap;
  max-width: fit-content;
  color: var(--pico-contrast);

  background-color: var(--pico-background-color);
  border: 1px solid var(--pico-primary);

  padding: 0.25rem 0.5rem;
  border-radius: var(--pico-border-radius);
  align-items: center;
  gap: 0.25rem;
  font-size: 0.6rem;

  &:hover {
    background-color: var(--pico-primary-focus);
  }
}

.home-page {
  background-color: var(--pico-background-color);
  padding: 1rem;
  border-radius: var(--pico-border-radius);
  margin-bottom: 1rem;
  border: 1px solid var(--pico-primary);
}

.charts-page {
  background-color: var(--pico-background-color);
  padding: 1rem;
  border-radius: var(--pico-border-radius);
  margin-bottom: 1rem;
  border: 1px solid var(--pico-primary);
}

.compare-page {
  background-color: var(--pico-background-color);
  padding: 1rem;
  border-radius: var(--pico-border-radius);
  margin-bottom: 1rem;
  border: 1px solid var(--pico-primary);
}

.devices-page {
  background-color: var(--pico-background-color);
  padding: 1rem;
  border-radius: var(--pico-border-radius);
  margin-bottom: 1rem;
  border: 1px solid var(--pico-primary);
}

.about {
  background-color: var(--pico-background-color);
  padding: 1rem;
  border-radius: var(--pico-border-radius);
  margin-bottom: 1rem;
  border: 1px solid var(--pico-primary);
}

.contact {
  background-color: var(--pico-background-color);
  padding: 1rem;
  border-radius: var(--pico-border-radius);
  margin-bottom: 1rem;
  border: 1px solid var(--pico-primary);
}

.footer {
  background-color: var(--pico-background-color);
  border-radius: var(--pico-border-radius);
}

.content {
  flex: 1;
  padding: 1em;
}

.no-border {
  border: none !important;
}

.device-card-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--pico-primary);
  padding: 0.25rem;
  border-radius: var(--pico-radius);
  width: 100%;

  &:hover {
    background-color: var(--pico-primary-focus);
    transform: scale(1.02);
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
}

.devices-by-tags-page {
  background-color: var(--pico-background-color);
  padding: 1rem;
  border-radius: var(--pico-border-radius);
  margin-bottom: 1rem;
  border: 1px solid var(--pico-primary);
}

.tags-group {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--pico-card-background-color);
  border-radius: var(--pico-border-radius);
  border: 1px solid var(--pico-primary);
}

table tr {
  display: flex;
  flex-direction: row;
  justify-content: center;

  th {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  td {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.release-timeline-page {
  background-color: var(--pico-background-color);
  padding: 1rem;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 0.75rem;
  }
}

.timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 4rem;
  color: white;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -1rem;
    width: 4px;
    height: 100%;
    background: var(--pico-primary-background);
  }

  .timeline-container {
    position: relative;
    margin-bottom: 2.5rem;

    .timeline-dot {
      position: absolute;
      left: calc(-4.5rem + 1px);
      top: 2rem;
      width: 1em;
      height: 1em;
      background-color: var(--pico-primary-background);
      border-radius: 50%;
    }

    .timeline-dot-top {
      position: absolute;
      left: calc(-4.5rem + 1px);
      top: -1rem;
      width: 1em;
      height: 1em;
      background-color: var(--pico-primary-background);
      border-radius: 50%;

      @media (max-width: 768px) {
        left: calc(-4.5rem + 4px);
      }
    }

    .timeline-text {
      position: absolute;
      left: -350px;
      top: 0;
      width: 250px;
      height: 6rem;
      border-radius: 0.25rem;
      text-align: center;
      font-size: 2rem;
      background-color: var(--pico-primary-background);

      @media (max-width: 1440px) {
        left: -185px;
        width: 200px;
        font-size: 1.5rem;
      }

      @media (max-width: 768px) {
        left: -150px;
        width: 150px;
        font-size: 1.5rem;
        height: 5rem;
      }

      @media (max-width: 425px) {
        left: -100px;
        width: 100px;
        font-size: 1rem;
        height: 3rem;
      }
    }

    .timeline-body {
      background: var(--timeline-body-bg);
      border-radius: var(--timeline-body-round);
      padding: 0 1rem;
      box-shadow: var(--timeline-body-shadow);

      &:before {
        content: "";
        background: inherit;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: -10px;
        transform: rotate(45deg);
        border-radius: 0 0 0 2px;
      }

      .timeline-devices-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        @media (max-width: 425px) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

.warning {
  background-color: var(--pico-card-background-color);
  border-radius: var(--pico-border-radius);
  color: var(--pico-contrast);
  padding: 2rem;
  border: 1px solid var(--pico-primary);
}

.back-button {
  background-color: unset !important;
  border-radius: var(--pico-border-radius) !important;
  color: var(--pico-contrast) !important;
  padding: 0.5rem 1rem !important;
  border: none !important;
}
